.container{
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;

    border: 2px solid #ddd;
    border-radius:8px
}

.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text{
    margin-top: 12px;
    font-size: 16px;
}